<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.christophersamuel.propel">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondActivity" />
        <activity android:name=".FourthActivity" />
        <activity android:name=".Goals" />
        <activity android:name=".Goal_short_long" />
        <activity android:name=".ViewGoal" />
        <activity android:name=".Summary" />
        <activity android:name=".WeeklyCalendar" />
        <activity android:name=".Day1Activity" />
        <activity android:name=".Day2Activity" />
        <activity android:name=".Day3Activity" />
        <activity android:name=".Day4Activity" />
        <activity android:name=".Day5Activity" />
        <activity android:name=".Day6Activity" />
        <activity android:name=".Day7Activity" />
        <activity android:name=".ExercisesActivity" />
        <activity android:name=".BackActivity" />
        <activity android:name=".BicepsActivity" />
        <activity android:name=".CardioActivity" />
        <activity android:name=".ChestActivity" />
        <activity android:name=".CoreActivity" />
        <activity android:name=".LegsActivity" />
        <activity android:name=".ShouldersActivity" />
        <activity android:name=".ThirdActivity" />
        <activity android:name=".LoginSinup" />
        <activity android:name=".ExerciseActivities"></activity>
        <activity android:name=".BodyInfo"></activity>
        <activity android:name=".NotificationTime"></activity>
        <activity android:name=".NotificationOption"></activity>
    </application>

</manifest>